html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.screen {
  width: 600px;
  height: 600px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
}

button {
  font: inherit;
  background-color: lightskyblue;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 50%;
}
